<!-- Side bar -->
<div class=" sidebar-wrap">
  <div class="sidebar">
    <ul class="sidebar-nav">
      <h5 class="mt-4 sidebar-title">Account</h5>

       <li class="sidebar-nav-item">
        <a href="<%= orders_path %>" class="sidebar-nav-link">
          <div>
            <i class="fas fa-shopping-bag"></i>

          </div>
            <span>
              Order history
            </span>
        </a>
      </li>

      <li class="sidebar-nav-item mt-3">
        <a href="<%= account_profile_path %>" class="sidebar-nav-link">
          <div>
            <i class="fas fa-id-card"></i>
          </div>
          <span>
            Account Profile
          </span>
        </a>
      </li>
      <li class="sidebar-nav-item">
        <a href="<%= account_secret_path %>" class="sidebar-nav-link">
          <div>
            <i class="fas fa-key"></i>

          </div>
            <span>
              Account Secret
            </span>
        </a>
      </li>
       
      <li class="sidebar-nav-item">
        <a href="#" class="sidebar-nav-link">
          <div>
            <i class="fas fa-credit-card"></i>
          </div>
          <span>
            Credit Card
          </span>
        </a>
      </li>
    </ul>
  </div>

</div>
<!-- End sidebar -->