

<h1><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></h1>

<% @orders.each do |order| %>

<table >
  <thead>
    <tr>
      <th>Order_id : # <%= order.id %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% order.get_item_orders.each do |item_order| %>
      <tr>
       <td><%= item_order.item.title %></td>
        <td><%= item_order.item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>

<br>



</div>