
<!DOCTYPE html>
<html>

<head>

  <% content_for :title, "New Item" %>
</head>
<body>
  <!-- MAIN BODY -->
  <section class="item-section">
     <div class="container">
      <h1 class="text-center">New Item</h1>
      <hr>
      <div class='row'>
        <div class='col-lg-10 col-md-12 mx-auto mt-5'>
           
           <%= render 'form'%>

          
        </div>
      </div>
    </div>

  </section>
 
</body>

</html>

