// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-section {
  .row {
    p {
      margin-top: unset;
      margin-bottom: unset;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
