.orders-section {
  margin-top: 20px;
  margin-bottom: 100px;
  .row {
    p {
      margin-top: unset;
      margin-bottom: unset;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
