<footer id="main-footer">
    <div class="container">
        <span>
            <div class="col-lg-12" style="float: left">
                <ul class="list-unstyled">
                    <li class="float-lg-right">
                        <a href="#top">Back to top</a>
                    </li>
                </ul>
                <div class="text-center">
                    <p>Made by <a style="color :white" href="https://thomaspark.co">Thomas Park</a>.</p>
                    <p>Code released under the <a style="color :white" href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
                    <p>Based on <a style="color :white" href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a style="color :white" href="https://fontawesome.com/" rel="nofollow">Font Awesome</a>. Web fonts from <a style="color :white" href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>
                </div>
            </div>
        </span>
    </div>
</footer>


